<form method="POST" action="/recipies/{{recipe._id}}?_method=DELETE">
    <input type="submit" value="delete recipe" />
</form>

<a href="/accounts/{{recipe.acctId}}">
    <input type="button" value="back to recipies" />
</a>


<h1>{{recipe.name}}</h1>
<form method="POST" action="/grocery/update/5cc84edd5f6a973c04812316">
{{#each recipe.ingredients}}
    <div>
        <l1>{{this}}</l1> <input class="checkbox" id="checkbox-{{@index}}" type="checkbox" />
        <input type="text" value="{{this}}" class="hidden-input" />   
    </div>
{{/each}}
<input type="submit" value="add to shopping list" />
</form>



<p>{{recipe.instructions}}</p>



