<header>
    <div class="content-container">
        <div class="header-container">
            <h1>{{account.firstName}} {{account.lastName}} </h1>
        </div>
        <div class="header-container">   
            <a href="/accounts/{{account._id}}/edit">
            <input type="button" value="Edit Account" class="header-button"/>
            </a>

            <form method="POST" action="/accounts/{{account._id}}?_method=DELETE">
            <input type="submit" value="Delete Account" class="header-button" />
            </form>
        </div>
    </div>
</header>
<section class="recipe-section">
    <div class="content-container">
        <div class="recipie-list-header">
            <h2>recipes</h2>
            <a href="/recipes/{{account._id}}/new-recipe-form">
                <input type="button" value="New Recipe" class="inverse-header-button"/>
            </a>
        </div>
        <div class="recipes-container">
        {{#each account.recipes}}
                <div class="sub-container">
                    <div class="sub-container-head">
                        <a href="/recipes/{{_id}}">{{name}}</a>
                    </div>
                    <div class="sub-container-body">
                        {{#each ingredients}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
        {{/each}}
        </div>
    </div>
</section>
<section class="list-section">
    <div class="content-container">
        <div class="shopping-list-header">
            <h2>Shopping Lists</h2>
            <a href="/grocery/{{account._id}}/new-grocery-form">
                <input type="button" value="New List" class="header-button"/>
            </a>    
        </div>
        <div class="lists-container">
        {{#each account.lists}}
               <a href="/grocery/{{_id}}/{{acctId}}">
                <div>
                    <p>{{name}}</p>
                </div>
                </a> 
        {{/each}}  
        </div>

    
