<form method="POST" action="/grocery/{{list._id}}/{{list.acctId}}?_method=DELETE">
    <input type="submit" value="delete list" />
</form>
<br>
<a href="/grocery/{{list._id}}/{{list.acctId}}/edit">
    <input type="button" value="edit list" />
</a>
<br>
<h1>{{list.name}}</h1>
{{#each list.list}}
    <li>{{this}}</li>
{{/each}}
<br>

