<form method="POST" action="/grocery/{{_id}}/{{acctId}}?_method=DELETE">
    <input type="button" value="delete list" />
</form>
<br>
<form>
    <div>
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" value="{{list.name}}" />
    </div>
    <br>
    <label>items</label>
    {{#each list.list}}
    <div class="list-item" id="item-module-{{@index}}">
        <input type="text" name="list" value="{{this}}" />
        <input type="button" value="X" class="delete-item" />
    </div>
    {{/each}}
</form>

