<header>
    <div class="content-container">
        <div class="header-container">
            <h1>{{recipe.name}}</h1>
        </div>
        <div class="header-container">
            <a href="/recipes/{{recipe._id}}/edit">
                <input type="button" value="Edit Recipe" class="header-button" />
            </a>
            <form method="POST" action="/recipes/{{recipe._id}}?_method=DELETE">
                <input type="submit" value="delete recipe" class="header-button" />
            </form>

            <a href="/accounts/{{recipe.acctId}}">
                <input type="button" value="back to recipes" class="header-button" />
            </a>
        </div>
    </div>
</header>
<section class="ingredients-section">
    <div class="content-container">
        <form method="POST" action="/grocery/update">
        <h2>Ingredients</h2>
        {{#each recipe.ingredients}}
            <div> 
                <input class="item-checkbox" id="checkbox-{{@index}}" type="checkbox" />
                <l1>{{this}}</l1> 
                <input type="text" value="{{this}}" class="hidden-item-input" />   
            </div>
        {{/each}}

        <p>Shopping Lists:</p>
        {{#each recipe.lists}}
            <div class="shopping-list-node ">
                <input class="list-checkbox" id="checkbox-{{@index}}" type="checkbox" />
                <li>{{name}}</li>
                <input type="text" value="{{this._id}}" class="hidden-list-input" />   
            </div>
        {{/each}}
        <input type="submit" value="add to shopping list" / class="inverse-header-button">
        </form>
    </div>
</section>
<section class="directions-section">
    <div class="content-container">
        <h2>Directions</h2>
        <p>{{recipe.instructions}}</p>   
    </div>
</section>




